# supabase
SUPABASE_URL= 
SUPABASE_KEY=
SUPABASE_SERVICE_KEY=

# mongodb
MONGODB_URI=

# google sheets
JSON_KEY_PATH=
GOOGLE_SHEET_ID=

# misc
OPENCAGE_API_KEY= 
VENDOR_TEMP_PASSWORD=
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173